
body {
	background-image: url("kaliBackground.jpg");
	background-color: #000000;
	background-size: cover;
	
}
p {
	text-color: red;
}
#matrixTheme {
	width: 600px;
	height: 200px;
	background: #000000;
	padding: 20px;
	font-size: 10pt;
	font-family: monospace;
	color: #00CC00;
	text-align: justify;
	overflow: auto;
	border: none;
	

}